@use "@angular/material" as mat;
@use "./assets/theme/_theme-color.scss" as theme-colors;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
// :root {
//  @include mat.fab-overrides((
//    small-container-color: orange,
//   ));
  
// }